@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

.drawer {
  max-width: 320px;
}

.primary-button {
  background-color: #ff5252;
}
